@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

a {
    color: white;
}

body {
    background-color: #161627;
    font-family: 'Sarala', sans-serif;
}

main {
    margin: 0 25px 0 25px;
}

.logo {
    color: white;
    font-family: 'Righteous', cursive;
    font-weight: 400;


}

.cabecalho-icon {
    width: 70px;
    height: 55px;
}




.cabecalho {
    display: flex;
    flex-direction: row;
    background-color: #13131F;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 1px solid #8258e6;

}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    color: #FFF2E7;
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;

}

.cabecalho-menu-item {
    color: white;

}

.conteudo {
    margin-bottom: 48px;

}

.apresentacao {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.apresentacao-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao-escrito-titulo {
    color: white;
    font-size: 64px;
    font-weight: 400;
    font-family: 'Righteous', cursive;
    font-weight: 400;
}

.apresentacaol-escrito-subtitulo {
    color: white;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Sarala', sans-serif;
}

.apresentacao-escrito-subsubtitulo {
    color: #828282;
    font-size: 19px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
}

.apresentacao-img {
    height: 530px;
}

.sobre {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    justify-content: space-around;
}

.sobre-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
    color: white;
}

.sobre-subtitulo {
    font-size: 22px;
    color: #828282;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
}

.sobre-paragrafo {
    font-size: 22px;
    color: #828282;
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
}


.habilidades-titulo {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    padding: 30px;
    font-family: 'Righteous', cursive;
    font-weight: 400;

}

.habilidade-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1600px;
    border-bottom: 1px solid #8258e6;
    border-top: 1px solid #8258e6;
    flex-wrap: wrap;
    padding: 10px;
}



.habilidade-conteudo-tipo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #828282;
    font-size: 22px;
    padding: 10px;
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
}

.habilidade-icon {
    height: 50px;
    width: 50px;
    background-color: #8258e6;
    border-radius: 7px;
    padding: 8px;
    margin-right: 15px;
}

.habilidade-linguagens {
    display: flex;
    flex-direction: column;
}

.habilidade-linguagens-item {
    display: flex;
    flex-direction: column;
    color: #828282;
    height: 185px;
    font-size: 22px;
    padding: 20px;

}


.projeto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

}

.projeto-titulo {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    color: white;
    padding: 30px;
    font-family: 'Righteous', cursive;
    font-weight: 400;

}

.projetos-conteudo {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    max-width: 1700px;
    gap: 30px;

}

.projeto-conteudo-item {
    max-width: 370px;
    margin-bottom: 30px;



}

.projeto-img {
    height: 19.5rem;
    width: 19.5rem;
    max-width: 100%;
    display: block;
    border-radius: 5px;
}

.projeto-titulo-descricao {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 180px;

}

.projeto-descricao-item {
    display: flex;
    text-align: justify;
    flex-direction: column;


}

.desc-projeto {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #828282;
    width: 320px;
}

.projeto-subtitulo-descricao {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.contato-conteudo {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    max-width: 1700px;
    gap: 55px;
}

.contato-conteudo-item {
    width: 16rem;
    background-color: #13131F;
    border-radius: 7px;
    padding-top: 23px;
    padding-bottom: 23px;

}




.contato-titulo {
    margin-top: 30px;
    font-size: 40px;
    color: white;
    padding: 30px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.contato-subtitulo {
    font-size: 22px;
    color: #828282;
    margin-top: 12px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contato-subtitulo2 {
    font-size: 18px;
    color: #828282;
    margin-top: 12px;
    font-family: 'Sarala', sans-serif;
    font-weight: 300;

}

.contato-subtitulo2 a {
    color: #828282;
}


.contato-icon {
    height: 50px;
    width: 50px;
    background-color: #8258e6;
    border-radius: 7px;
    padding: 8px;

}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 0.4px solid #8258e6;
    background-color: #13131F;


}

.rodape-conteudo {
    color: white;
    padding: 33px;
}

.rodape-redeSociais {
    padding: 30px;
}

.rodape-icon {
    height: 50px;
    width: 50px;
    background-color: #8258e6;
    border-radius: 7px;
    padding: 8px;
    margin-right: 15px;
}

#btn-mobile {
    display: none;
}

@media screen and (min-width:768px) and (max-width: 1230px) {
    main {
        display: flex;
        flex-direction: column;
        margin: 0 20px 0 20px;


    }

    .sobre {
        display: flex;
        flex-direction: column;
        text-align: justify;

    }

    .apresentacao-img {
        width: 65%;
        height: 65%;
    }

    .projeto-img {
        height: 18.5rem;
        width: 18.5rem;
        max-width: 100%;
        display: block;
        border-radius: 5px;
      
    }

    .projetos-conteudo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

    }

    .projeto-conteudo-item {
        max-width: 100%;
        margin-bottom: 30px;


    }

    .contato {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

    }

    .contato-conteudo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .contato-conteudo-item {
        width: 45%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .contato-icon {
        height: 45px;
        width: 45px;
    }


    .contato-subtitulo2 {
        font-size: 15px;
    }

    .rodape-conteudo {
        font-size: 15px;
    }

    .rodape-icon {
        height: 35px;
        width: 35px;
    }
}


@media screen and (max-width:767px) {

    /* para mudar o menu*/
    #btn-mobile {
        display: block;
    }

    #nav {
        display: none;
    }

    #nav.active {
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: #13131F;

    }

    .hamburger {
        color: white;
        border-top: 2px solid;
        width: 20px;
    }

    .hamburger::after,
    .hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 7px;
    }

    /*fim*/
    main {
        display: flex;
        flex-direction: column;
        margin: 0 20px 0 20px;


    }

    .sobre {
        display: flex;
        flex-direction: column;
        text-align: justify;

    }

    .apresentacao-img {
        width: 95%;
        height: 95%;
    }

    .projeto-img {
        height: 250px;
        width: 250px;
        max-width: 100%;
        display: block;
        border-radius: 5px;
        flex-wrap: wrap;
    }

    .projetos-conteudo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

    }

    .projeto-conteudo-item {
        max-width: 100%;
        margin-bottom: 30px;



    }

    .contato {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

    }

    .contato-conteudo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .contato-conteudo-item {
        width: 45%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .contato-icon {
        height: 45px;
        width: 45px;
    }

    .contato-subtitulo2 {
        font-size: 13px;
    }

    .rodape-conteudo {
        font-size: 15px;
    }

    .rodape-icon {
        height: 35px;
        width: 35px;
    }
}