.habilidade-icon:hover{
    transform: scale(1.1);
    transition: 500ms linear;
}
.contato-conteudo-item:hover{
    transform: scale(1.1);
    transition: 500ms linear;
}
.rodape-icon:hover{
    transform: scale(1.1);
    transition: 500ms linear;
}
.projeto-img:hover{
    opacity:0.5;
    transition: 500ms linear;
}
