* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {
    background-color: #13131F;
}

.logo {
    color: white;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    background-color: #13131F;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    color: #FFF2E7;
    font-size: 18px;

}

.cabecalho-menu-item {
    color: white;

}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #8258e6;
}

.apresentacao {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.apresentacao-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao-escrito-titulo {
    color: white;
    font-size: 64px;
}

.apresentacaol-escrito-subtitulo {
    color: white;
    font-size: 32px;
}

.apresentacao-escrito-subsubtitulo {
    color: #828282;
    font-size: 19px;
}

.apresentacao-img {
    height: 530px;
}

.sobre {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    justify-content: space-around;
}

.sobre-titulo {
    font-size: 40px;
    color: white;
}

.sobre-subtitulo {
    font-size: 22px;
    color: #828282;
}

.sobre-paragrafo {
    font-size: 22px;
    color: #828282;
}

.projeto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

}

.projeto-titulo {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    color: white;
    padding: 30px;

}

.projetos-conteudo {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
    gap: 30px;

}

.projeto-conteudo-item {
    max-width: 350px;
    margin-bottom: 30px;
}

.projeto-img {
    height: 325px;
    width: 325px;
    max-width: 100%;
    display: block;
    border-radius: 5px;
}

.habilidades-titulo {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 75px;

}

.habilidade-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
    gap: 50px;

}

.habilidade-conteudo-item {
    background-color: #8258e6;
    border-radius: 5px;
    width: 230px;
    height: 230px;



}

.habilidade-img {
    height: 110px;
    max-width: 100%;
    



}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 0.4px solid #8258e6;

}

.rodape-conteudo {
    color: white;
    padding: 33px;
}